@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Montserrat&display=swap');

.page-height {
    min-height: 80vh;
}

/** --- Text --- **/

.headings-light {
    font-family: "Cinzel", sans-serif;
    color: #EAE7DC;
}

.headings-dark {
    font-family: "Cinzel", sans-serif;
    color: #101010;
}

.headings-color {
    font-family: "Cinzel", sans-serif;
    color: #ffe400;
}

.content-light {
    font-family: "Montserrat", sans-serif;
    color: #EAE7DC;
}

.content-dark {
    font-family: "Montserrat", sans-serif;
    color: #101010;
}

.content-color {
    font-family: "Montserrat", sans-serif;
    color: #ffe400;
}

.flashes h4 {
    line-height: 2;
    margin-top: 0;
    margin-bottom: 0;
}

.flashes {
    margin-bottom: 0;
}

.capitalize {
    text-transform: capitalize;
}

.headings-underline {
    width: 100px;
    height: 5px;
    background-color: #ffe400;
    border: none;
    margin-bottom: 10px;
}

.headings-underline-dark {
    width: 100px;
    height: 5px;
    background-color: #101010;
    border: none;
    margin-bottom: 10px;
}

.text-margin {
    margin: 0;
}

.books-header {
    margin-top: 30px;
}


/** --- Text Ends --- **/

/** --- Backgrounds --- **/

.dark-background {
    background-color: #101010;
}

.color-background {
    background-color: #ffee58;
}

.copywright {
    background-color: #0c0c0c;
    margin:0;
}

.opaque-background {
    background-color: rgba(16,16,16,0.90);
}

.row {
    margin-bottom: 0;
}

/** --- Backgrounds Ends--- **/

/** --- Logo & Navbar --- */

#fastara-logo {
    height: 60px;
    width: 180px;
    margin-top: 2px;
    object-fit: cover;
}

.remove-margin {
    margin-bottom: 0;
}

.nav-items-left {
    margin-left: 20px;
}

.nav-items-right {
    margin-right: 20px;
}

.sidenav-logo {
    margin-bottom: 20px;
    margin-top: 10px;
}

.sidenav li>a {
    color: #EAE7DC;
}

nav ul a {
    color: #EAE7DC;
}

nav ul a:hover {
    background-color: #ffee58 !important;
    color: #101010;
}

/** --- Logo & Navbar Ends ---**/

/** --- Footer ---**/

.list-inline {
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  padding: 10px;
}

.footer-icons {
    color: #ffe400;
    font-size: 1.75rem;
}

footer {
    left: 0;
    bottom: 0;
}

/** --- Footer Ends ---**/

/** --- Home ---**/

.overlay {
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}

.carousel-item {
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-container {
    margin-top: 20px;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 50px;
}

.carousel {
    height: 50vh;
    margin-top: 20px;
    
}

.carousel-text {
    position: absolute;
    top: 100px;
    left: 10%;
    right: 10%;
    text-transform: capitalize;
}

.carousel.carousel-slider .carousel-item h2 {
    font-size: 2rem;
}

.carousel.carousel-slider .carousel-fixed-item {
    bottom: 70px;
}

.home-image-circle {
    height: 280px;
    width: 280px;
    object-fit: cover;
    margin-bottom: 20px;
    margin-top: 20px;
}

.feature-container {
    background-color: #ffe400;
}

.book-feature {
    height: 300px;
    width: 210px;
    object-fit: cover;
}

.book-button {
    margin-bottom: 30px;
}

/** --- Home Ends ---**/

/** --- Recipes ---**/

.card-image {
    overflow: hidden;
}

.card .card-image img {
    height: 225px;
    object-fit: cover;
    transition: transform 2s ease;
}

.card-image:hover img { /*-- Thanks to https://w3bits.com/css-image-hover-zoom/ for this code --*/
  transform: scale(1.3);
}

.card-overlay { /*-- Thanks to https://www.w3schools.com/howto/howto_css_image_overlay_title.asp for this code --*/
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.6); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 50px;
  text-align: center;
  height: 100%;
}

.card-image:hover .card-overlay {
  opacity: 1;
}

.card-icons {
    font-size: 2.5rem;
    transition: transform 0.5s ease;
}

.card-icons:hover {
    transform: scale(1.3);
}

.recipe-card {
    height: 500px;
}

.card-content-description {
    height: 130px;
}

.search-label {
    color: #101010 !important;
}

.search-buttons {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.save-button {
    border: none;
    background: none;
}

/** --- Recipes Ends ---**/

/** --- Registration ---**/

.card-panel {
    margin-top: 30px;
    background-color: rgba(16,16,16,0.90);
}

.icons {
    color: #ffe400;
}

.reg-background-image {
    min-height: 80vh;
    width: 100vw;
    margin: 0;
    background-image: url(/static/images/background.png);
    background-size: cover;
}

/** --- Registration Ends ---**/

/** --- Add Recipe ---**/

.add-recipe-card-panel {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
}

.switch-text {
    padding-left: 3rem;
}

.switch-text-selector {
    font-size: 15px;
}

.vegan-label {
    padding-right: 2.25rem;
}

.input-field>label {
    color: #EAE7DC;
}

.select-wrapper input.select-dropdown {
    color: #EAE7DC;
    font-family: "Montserrat", sans-serif;
}

.input-field {
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.first-item {
    margin-bottom: 0;
    padding-bottom: 0;
}

.new-item {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.label-margin {
    padding-left: 20px !important;
}

.trash-icon {
    font-size: 1rem;
    color: #bf360c;
}

#recipe-submit {
    margin-top: 4rem;
}

.cancel-edit {
    margin-top: 4rem;
}

#add-ingredient {
    margin-bottom: 3rem;
}

.select-wrapper .caret { /* thanks to https://stackoverflow.com/questions/60914431/is-there-a-way-to-change-the-color-of-the-text-and-arrow-in-a-materializecss-sel for dropdown arrow */
    fill: #ffe400;
}

/** --- Add Recipe Ends ---**/

/** --- View Recipe ---**/

.recipe-image {
    width: 100%;
    height: 375px;
    object-fit: cover;
    padding-top: 7px;
}

.ingredient-list li::before { /** thanks to https://www.w3schools.com/howto/howto_css_bullet_color.asp bullet points **/
  content: "\2022";
  color: #ffe400;
  font-weight: bold;
  font-size: 30px;
  display: inline-block;
  width: 1em;
}

.ingredient-list > li {
    padding-bottom: 5px;
}

.method-list > li {
    padding-bottom: 30px;
}

.recipe-description {
    margin-top: 40px;
    margin-bottom: 40px;
}

.instructions {
    margin-bottom: 40px;
}

.recipe-icons {
    font-size: 1.75rem;
    color: #bf360c;
}

tr {
    border-bottom: none;
}

table {
    margin-bottom: 10px;
}

.highlight-pill {
    display: inline-block;
    height: 30px;
    width: 120px;
    background-color: #101010;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
    border-radius: 15px;
    text-align: center;
    padding-top: 4px;
}

.recipe-buttons-row {
    margin-bottom: 40px;
}

.recipe-buttons {
    width: 150px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.recipe-buttons:hover {
    background-color: #ffee58;
    color: #101010;
}


/** --- View Recipe Ends ---**/

/** --- Profile ---**/

.profile-table {
    margin-bottom: 40px;
}

/** --- Profile Ends ---**/

/** --- Modals ---**/

.modal .modal-footer {
    background-color: #101010;
}

/** --- Modals Ends ---**/

/** --- Media Queries ---**/

@media screen and (max-width: 600px) {
    #fastara-logo {
        height: 52px;
        width: 156px;
    }
}

@media screen and (max-width: 1640px) {
    .carousel-container {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 750px) {
    .home-image-circle {
        height: 240px;
        width: 240px;
        object-fit: cover;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 500px) {
    .add-recipe-card-panel {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .input-field {
        padding-top: 1rem;
        padding-bottom: 2.5rem;
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 325px) {
    .card-content-description {
        height: 150px;
    }

    .recipe-card {
    height: 520px;
}
}

