@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Montserrat&display=swap');

body {
    min-height: 100vh;
}

.center-align {
    text-align: center;
}

/** --- Text --- **/

.headings-light {
    font-family: "Cinzel", sans-serif;
    color: #EAE7DC;
}

.headings-dark {
    font-family: "Cinzel", sans-serif;
    color: #101010;
}

.content-light {
    font-family: "Montserrat", sans-serif;
    color: #EAE7DC;
}

.content-dark {
    font-family: "Montserrat", sans-serif;
    color: #101010;
}

.content-color {
    font-family: "Montserrat", sans-serif;
    color: #ffe400;
}

.flashes h4 {
    line-height: 2;
    margin-top: 0;
}


/** --- Text Ends --- **/

/** --- Backgrounds --- **/

.dark-background {
    background-color: #101010;
}

.copywright {
    background-color: #0c0c0c;
    margin:0;
}

/** --- Backgrounds Ends--- **/

/** --- Logo & Navbar --- */

#fastara-logo {
    height: 60px;
    width: 180px;
    margin-top: 2px;
    object-fit: cover;
}

.remove-margin {
    margin-bottom: 0;
}

.nav-items-left {
    margin-left: 20px;
}

.nav-items-right {
    margin-right: 20px;
}

.sidenav-logo {
    margin-bottom: 20px;
    margin-top: 10px;
}

.sidenav li>a {
    color: #EAE7DC;
}

nav ul a {
    color: #EAE7DC;
}

/** --- Logo & Navbar Ends ---**/

/** --- Footer ---**/

.list-inline {
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  padding: 10px;
}

.footer-icons {
    color: #ffe400;
    font-size: 1.75rem;
}

/** --- Footer Ends ---**/

/** --- Registration ---**/

.card-panel {
    margin-top: 30px;
}

/** --- Registration Ends ---**/

/** --- Media Queries ---**/

@media screen and (max-width: 600px) {
    #fastara-logo {
        height: 52px;
        width: 156px;
    }
}

