<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}"/>
    <title>404 Error: File Not Found</title>
</head>
<body class="dark-background">

    <div class="container">
        <div class="row center-align error-row valign-wrapper">
            <div class="col s12 center-align">
                <img src="/static/images/logo.png" alt="Fastara logo" class="error-image">
                <h1 class="headings-light">404</h1>
                <h6 class="headings-light">File Not Found</h6>
                <br>
                <p class="content-light">We're sorry, the page you have requested could not be found. Please go back to the homepage.</p>
                <br>
                <a href="{{ url_for('home') }}" class="btn btn-large yellow lighten-1 content-dark error-button">Home</a>
            </div>
        </div>
    </div>

</body>
</html>