{% extends "base.html" %}
{% block content %}

    <div class="container-fluid reg-background-image">
        <div class="row add-recipe-card-panel">
            <form class="col s12" action="" method="POST">
                <div class="row card-panel">
                    <h3 class="center headings-light">Add Your Recipe</h3>
                    <div class="col s12 l4">
                        <div class="input-field">
                            <i class="fas fa-pencil-alt prefix icons"></i>
                            <input id="title" name="title" min-length="5" max-length="50" type="text" class="validate" required>
                            <label class="content-light" for="title">Recipe Name</label>
                        </div>
                        <div class="input-field">
                            <i class="fas fa-file-alt prefix icons"></i>
                            <textarea id="description" name="description" min-length="10" max-length="80" class="materialize-textarea validate" required></textarea>
                            <label class="content-light" for="description">Recipe Description</label>
                        </div>
                        <div class="input-field">
                            <i class="fas fa-utensils prefix icons"></i>
                            <select id="category_name" name="category_name" class="content-light validate" required>
                                <option value="" disabled selected>Choose your meal</option>
                                {% for category in categories%}
                                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                                {% endfor %}
                            </select>
                            <label class="content-light" for="category_name">Meal Type</label>
                        </div>
                        <div class="input-field">
                            <i class="fas fa-globe-europe prefix icons"></i>
                            <input id="cuisine" name="cuisine" type="text" class="validate">
                            <label class="content-light" for="cuisine">Country of Origin</label>
                        </div>
                        <div class="input-field">
                            <div class="switch">
                                <i class="fas fa-carrot prefix icons"></i>
                                <span class="switch-text content-light">Vegetarian</span>
                                <label for="vegetarian">
                                    <span class="switch-text-selector content-light">No</span>
                                    <input type="checkbox" id="vegetarian" name="vegetarian">
                                    <span class="lever"></span>
                                    <span class="switch-text-selector content-light">Yes</span>
                                </label>
                            </div>
                        </div>
                        <div class="input-field">
                            <div class="switch">
                                <i class="fas fa-seedling prefix icons"></i>
                                <span class="switch-text content-light vegan-label">Vegan</span>
                                <label for="vegan">
                                    <span class="switch-text-selector content-light">No</span>
                                    <input type="checkbox" id="vegan" name="vegan">
                                    <span class="lever"></span>
                                    <span class="switch-text-selector content-light">Yes</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 l4">
                        <div class="input-field">
                            <i class="fas fa-users prefix icons"></i>
                            <input id="servings" name="servings" min-length="5" max-length="50" type="text" class="validate" required>
                            <label class="content-light" for="servings">Servings</label>
                        </div>
                        <div class="input-field">
                            <i class="fas fa-fire prefix icons"></i>
                            <input id="calories" name="calories" min-length="5" max-length="50" type="text" class="validate" required>
                            <label class="content-light" for="calories">Calories</label>
                        </div>
                        <div class="input-field">
                            <i class="fas fa-stopwatch prefix icons"></i>
                            <input id="prep_time" name="prep_time" min-length="5" max-length="50" type="text" class="validate" required>
                            <label class="content-light" for="prep_time">Preparation Time <small>(mins)</small></label>
                        </div>
                        <div class="input-field">
                            <i class="far fa-hourglass prefix icons"></i>
                            <input id="cook_time" name="cook_time" min-length="5" max-length="50" type="text" class="validate" required>
                            <label class="content-light" for="cook_time">Cooking Time <small>(mins)</small></label>
                        </div>
                        <div class="input-field">
                            <i class="fas fa-camera prefix icons"></i>
                            <input id="recipe_image" name="recipe_image" min-length="5" max-length="50" type="text" class="validate" required>
                            <label class="content-light" for="recipe_image">Image URL</label>
                        </div>
                    </div>
                    <div class="col s12 l4">
                        <div class="input-field">
                            <i class="fas fa-list-ul prefix icons"></i>
                            <textarea id="ingredients" name="ingredients" min-length="10" max-length="80" class="materialize-textarea validate" required></textarea>
                            <label class="content-light" for="ingredients">Ingredients</label>
                        </div>
                        <div class="input-field">
                            <i class="fas fa-list-ol prefix icons"></i>
                            <textarea id="recipe_method" name="recipe_method" min-length="10" max-length="80" class="materialize-textarea validate" required></textarea>
                            <label class="content-light" for="recipe_method">Method</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}