<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css" 
        integrity="sha512-3icgkoIO5qm2D4bGSUkPqeQ96LS8+ukJC7Eqhl1H5B2OJMEnFqLmNDxXVmtV/eq5M65tTDkUYS/Q0P4gvZv+yA==" crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Fastara</title>
</head>
<body>

    <header>
        <!--Top Navbar-->
        <nav class="nav-extended headings-light">
            <div class="row dark-background remove-margin">
                <div class="col l5 hide-on-med-and-down">
                    <ul class="right nav-items-left">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('get_recipes') }}">Recipes</a></li>
                    {% if session.user %}
                        <li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
                    {% endif %}
                    </ul>
                </div>
                <div class="col s12 l2">
                    <a href="{{ url_for('home') }}" class="brand-logo center"><img src="/static/images/logo.png" id="fastara-logo" alt="Fastara logo"></a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                </div>
                <div class="col l5 hide-on-med-and-down">
                    <ul class="left nav-items-right">
                    {% if session.user %}
                        <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                        <li><a href="#">Dashboard</a></li>
                        <li><a class="modal-trigger" href="#logout-modal">Log Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Log In</a></li>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                </ul>
                </div>
            </div>
        </nav>
        <!--Mobile Side Navbar-->
        <ul class="sidenav right headings-light dark-background" id="mobile-demo">
            <li class="center-align"><img src="/static/images/logo.png" class="sidenav-logo" id="fastara-logo" alt="Fastara logo"></li>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('get_recipes') }}">Recipes</a></li>
            {% if session.user %}
                <li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
                <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                <li><a href="#">Dashboard</a></li>
                <li><a class="modal-trigger" href="#logout-modal">Log Out</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        </ul>
    </header>

    <section>
        <!--Flash Message-->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4 class="headings-dark center-align yellow lighten-3">{{message}}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <main class="page-height">
    {% block content %}
    {% endblock %}
    </main>

    <footer class="dark-background">
        <div class="row">
            <div class="col s12 m6 center">
                <h6 class="headings-light">Connect</h6>
                <!--Social Media Links -->
                <ul class="list-inline">
                    <li>
                        <a target="_blank" rel="noreferrer" href="https://github.com/Tawnygoody/Fastara">
                            <i class="fab fa-github-square footer-icons" aria-hidden="true"></i>
                            <span class="sr-only">GitHub</span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" rel="noreferrer" href="https://www.linkedin.com/in/christopher-goodfellow-3aba641bb/">
                            <i class="fab fa-linkedin footer-icons" aria-hidden="true"></i>
                            <span class="sr-only">Linkedin</span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" rel="noreferrer" href="https://www.pinterest.co.uk/">
                            <i class="fab fa-pinterest-square footer-icons" aria-hidden="true"></i>
                            <span class="sr-only">Linkedin</span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" rel="noreferrer" href="https://twitter.com/?lang=en-gb">
                            <i class="fab fa-twitter-square footer-icons" aria-hidden="true"></i>
                            <span class="sr-only">Linkedin</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col s12 m6 center">
                <h6 class="headings-light">Contact</h6>
                <p class="content-light">Please feel free to contact us with any questions at:</p>
                <p class="content-color"><strong>fastara@email.com</strong></p>
            </div>
        </div>
        <div class="row copywright">
            <div class="col s12 center">
                <h6 class="content-light"><strong>&#169 2021 Fastara</strong></h6>
            </div>
        </div>
    </footer>

    <div id="logout-modal" class="modal dark-background">
        <div class="modal-content center-align headings-light">
            <h4>Are you sure you wish to Log Out?</h4>
        </div>
        <div class="modal-footer dark-background">
            <div class="row">
                <div class="col s6 right-align">
                    <a class="btn yellow lighten-1 content-dark modal-close">Close</a>
                </div>
                <div class="col s6 left-align">
                    <a href="{{ url_for('logout') }}" class="btn red darken-4 content-light">Log Out</a>
                </div>
            </div>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>