{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col s12">
                <h4 class="headings-dark capitalize">Recipes Dashboard</h4>
                <hr class="headings-underline left">
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6">
                <iframe class="charts" src="https://charts.mongodb.com/charts-project-0-kxmhg/embed/charts?id=87ffd651-cd75-4c4c-84b1-4ae7abd358a3&autoRefresh=1800&theme=light"></iframe>
            </div>
            <div class="col s12 m6">
                <iframe class="charts" src="https://charts.mongodb.com/charts-project-0-kxmhg/embed/charts?id=6020eec5-f25c-48cc-a925-213bb623e43f&autoRefresh=1800&theme=light"></iframe>
            </div>
            <div class="col s12 m6">
                <iframe class="charts" src="https://charts.mongodb.com/charts-project-0-kxmhg/embed/charts?id=d795302a-4a7e-4cc2-986c-5f5ab42ec2a2&autoRefresh=1800&theme=light"></iframe>
            </div>
            <div class="col s12 m6">
                <iframe class="charts" src="https://charts.mongodb.com/charts-project-0-kxmhg/embed/charts?id=fdbea1a8-b075-4a72-bab8-4d6357997169&autoRefresh=1800&theme=light"></iframe>
            </div>
        </div>
    </div>
{% endblock %}