{% extends "base.html" %}
{% block content %}

    <div class="container-fluid carousel-container">
        <div class="carousel carousel-slider center">
            <div class="carousel-fixed-item center">
                <a class="btn btn-large yellow lighten-1 content-dark">View Recipe</a>
            </div>
            {% for recipe in recipes %}
            <div class="carousel-item" style="background-image: url( {{recipe.recipe_image}} );">
                <div class="overlay"></div>
                <h2 class="carousel-text headings-light">{{ recipe.title }}</h2>
            </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}