{% extends "base.html" %}
{% block content %}

    <!--Carousel-->
    <div class="container-fluid carousel-container">
        <div class="carousel carousel-slider center">
            <div class="carousel-fixed-item center">
                <a class="btn btn-large yellow lighten-1 content-dark" id="carousel-button">View Recipe</a>
            </div>
            {% for recipe in admin_recipes %}
                {% if loop.index <= 6 %}
                    <div class="carousel-item" style="background-image: url( {{recipe.recipe_image}} );">
                        <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}"></a>
                        <div class="overlay"></div>
                        <h2 class="carousel-text headings-light">{{ recipe.title }}</h2>
                    </div>
                {% endif %}    
            {% endfor %}
        </div>
    </div>

    <!--Feature Section-->
    <div class="container">
        <div class="row">
            <div class="col s12 m6 push-m6" data-aos="fade-right" data-aos-duration="1500">
                <h4 class="headings-dark text-margin">What is Fastara?</h4>
                <hr class="headings-underline left">
                <br>
                <p class="content-dark">Healthy doesn't mean boring!!</p>
                <p class="content-dark">Fastara is the recipe website thats all about low calorie 
                    recipes. We specialise in providing delicious recipes suited to an intermittent 
                    fasting diet.
                </p>
                <p class="content-dark">Intermittent fasting, such as the "5:2" diet, is the most popular 
                    diet in the world, but it can be difficult to know what to eat. That's where we are here 
                    to help. 
                </p>
                <p class="content-dark">Search the range of recipes, and feel free to register and upload 
                    your own "fast day" recipes. 
                </p>
            </div>
            <div class="col s12 m6 pull-m6 center" data-aos="fade-left" data-aos-duration="1500">
                <img src="static/images/home-page-image1.jpg" alt="Avacado on toast" class="circle home-image-circle">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col s12 m6 right-align" data-aos="fade-left" data-aos-duration="1500">
                <h4 class="headings-dark text-margin">The 5:2 Diet</h4>
                <hr class="headings-underline right">
                <br>
                <p class="content-dark">Eat what you want five days a week, dramatically cut 
                    the calories for two. The intermittent fasting diet allows you to eat all the things we like yet lose
                    weight, and is taking off all over the world. 
                </p>
                <p class="content-dark">Eating whatever you like for 5 days, does not mean you 
                    can eat massive quantities of cake and chocolate, but is recommended to consume 
                    a 'normal' number of calories five days a week, then for two, non-consecutive days, 
                    eat just 25% of your usual calorie total - 500kcal for woman and 600kcal for men. 
                </p>
            </div>
            <div class="col s12 m6 center hide-on-small-only" data-aos="fade-right" data-aos-duration="1500">
                <img src="static/images/home-page-image2.jpg" alt="Cauliflower Rice Bowl" class="circle home-image-circle">
            </div>
        </div>
    </div>

    <!--Book Promotion-->
    <div class="container-fluid feature-container">
        <div class="row">
            <div class="col s12 m4 offset-m2 center hide-on-small-only" data-aos="flip-up" data-aos-duration="1500">
                <img src="static/images/book.png" alt="5:2 Diet Book" class="book-feature">
            </div>
            <div class="col s12 m4 left-align" data-aos="flip-down" data-aos-duration="1500">
                <h4 class="headings-dark text-margin books-header">Want to know more?</h4>
                <hr class="headings-underline-dark left">
                <br>
                <p class="content-dark">Dr Michael Mosley, the medical journalist who first alerted the world to the Intermittent Fasting phenomenon, 
                    presents the fascinating science behind the 5:2 diet. Mimi Spencer, award-winning food and fashion writer, explains the practicalities 
                    of how to go about it.</p>
                <a href="https://www.amazon.co.uk/Fast-Diet-Healthy-Revised-Updated/dp/1780722370/ref=sr_1_1?dchild=1&keywords=the+fast+diet&qid=1621520090&sr=8-1" target="_blank" rel="noreferrer" class="btn grey darken-4 content-light book-button">Find out more</a>
            </div>
        </div>
    </div>

    <!--Breakfast Section-->
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h4 class="headings-dark capitalize">Breakfast</h4>
                <hr class="headings-underline left">
                <br>
                <p class="content-dark">Often referred to as the most important meal of the day, with our range of breakfast options it could maybe be the most delicious meal of the day too.</p>
            </div>
        </div>
        <div class="row">
            <!--Loop through breakfast recipes-->
            {% for recipe in breakfast_recipes %}
                <!--Show 2 results-->
                {% if loop.index <= 2 %}
                    <div class="col s12 m6 xl4 center" data-aos="zoom-in" data-aos-duration="1500">
                        <div class="card hoverable recipe-card">
                            <div class="card-image">
                                <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                                    <img src="{{recipe.recipe_image}}" onerror="this.src='/static/images/home-page-image1.jpg'" alt="{{recipe.title}}">
                                    <div class="card-overlay">
                                        <h5 class="headings-light capitalize">{{ recipe.title }}</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="card-content">
                                <p class="right-align"><strong>{{ recipe.calories }}</strong>kcal</p>
                                <hr class="headings-underline center">
                                <p class="content-dark left-align card-content-description">{{ recipe.description }}</p>
                                <ul class="list-inline">
                                    <li>
                                        <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                                            <i class="fas fa-eye card-icons amber-text text-darken-3 tooltipped" data-position="left" data-tooltip="View Recipe"></i>
                                        </a>
                                    </li>
                                    <!--Only Show if user is in session-->
                                    {% if session.user %}
                                        {% if session.user|lower == recipe.created_by|lower %}
                                        <!--Else statement shows when user in session and recipe not created_by user in session-->
                                        {% else %}
                                            <li>
                                                <form method="POST" action="{{ url_for('save_recipe', recipe_id=recipe._id) }}">
                                                    <button class="save-button" aria-label="Save Recipe">
                                                        <i class="fas fa-plus-circle card-icons blue-grey-text text-darken-3 tooltipped" data-position="right" data-tooltip="Save Recipe"></i>
                                                    </button>
                                                </form>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <!--3rd result shown on screen sizes above 1200px-->
                {% if loop.index == 3 %}
                    <div class="col s12 m6 xl4 center hide-div" data-aos="zoom-in" data-aos-duration="1500">
                        <div class="card hoverable recipe-card">
                            <div class="card-image">
                                <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                                    <img src="{{recipe.recipe_image}}" onerror="this.src='/static/images/home-page-image1.jpg'" alt="{{recipe.title}}">
                                    <div class="card-overlay">
                                        <h5 class="headings-light capitalize">{{ recipe.title }}</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="card-content">
                                <p class="right-align"><strong>{{ recipe.calories }}</strong>kcal</p>
                                <hr class="headings-underline center">
                                <p class="content-dark left-align card-content-description">{{ recipe.description }}</p>
                                <ul class="list-inline">
                                    <li>
                                        <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                                            <i class="fas fa-eye card-icons amber-text text-darken-3 tooltipped" data-position="left" data-tooltip="View Recipe"></i>
                                        </a>
                                    </li>
                                    <!--Only Show if user is in session-->
                                    {% if session.user %}
                                        {% if session.user|lower == recipe.created_by|lower %}
                                        <!--Else statement shows when user in session and recipe not created_by user in session-->
                                        {% else %}
                                            <li>
                                                <form method="POST" action="{{ url_for('save_recipe', recipe_id=recipe._id) }}">
                                                    <button class="save-button" aria-label="Save Recipe">
                                                        <i class="fas fa-plus-circle card-icons blue-grey-text text-darken-3 tooltipped" data-position="right" data-tooltip="Save Recipe"></i>
                                                    </button>
                                                </form>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <a href="{{ url_for('categories', category='Breakfast') }}" class="btn dark-background content-color recipe-buttons right">More B'fast</a>
        </div>
        <br>

        <!--Lunch Section-->
        <div class="row">
            <div class="col s12">
                <h4 class="headings-dark capitalize">Lunch</h4>
                <hr class="headings-underline left">
                <br>
                <p class="content-dark">In the office, or out and about on your feet all day? Not a problem! You'll find a lot of our recipes eat just as well cold as they do hot.</p>
            </div>
        </div>
        <div class="row">
            <!--Loop through lunch recipes-->
            {% for recipe in lunch_recipes %}
                <!--Show 2 results-->
                {% if loop.index <= 2 %}
                    <div class="col s12 m6 xl4 center" data-aos="zoom-in" data-aos-duration="1500">
                        <div class="card hoverable recipe-card">
                            <div class="card-image">
                                <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                                    <img src="{{recipe.recipe_image}}" onerror="this.src='/static/images/home-page-image1.jpg'" alt="{{recipe.title}}">
                                    <div class="card-overlay">
                                        <h5 class="headings-light capitalize">{{ recipe.title }}</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="card-content">
                                <p class="right-align"><strong>{{ recipe.calories }}</strong>kcal</p>
                                <hr class="headings-underline center">
                                <p class="content-dark left-align card-content-description">{{ recipe.description }}</p>
                                <ul class="list-inline">
                                    <li>
                                        <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                                            <i class="fas fa-eye card-icons amber-text text-darken-3 tooltipped" data-position="left" data-tooltip="View Recipe"></i>
                                        </a>
                                    </li>
                                    <!--Only Show if user is in session-->
                                    {% if session.user %}
                                        {% if session.user|lower == recipe.created_by|lower %}
                                        <!--Else statement shows when user in session and recipe not created_by user in session-->
                                        {% else %}
                                            <li>
                                                <form method="POST" action="{{ url_for('save_recipe', recipe_id=recipe._id) }}">
                                                    <button class="save-button" aria-label="Save">
                                                        <i class="fas fa-plus-circle card-icons blue-grey-text text-darken-3 tooltipped" data-position="right" data-tooltip="Save Recipe"></i>
                                                    </button>
                                                </form>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <!--3rd result shown on screen sizes above 1200px-->
                {% if loop.index == 3 %}
                    <div class="col s12 m6 xl4 center hide-div" data-aos="zoom-in" data-aos-duration="1500">
                        <div class="card hoverable recipe-card">
                            <div class="card-image">
                                <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                                    <img src="{{recipe.recipe_image}}" onerror="this.src='/static/images/home-page-image1.jpg'" alt="{{recipe.title}}">
                                    <div class="card-overlay">
                                        <h5 class="headings-light capitalize">{{ recipe.title }}</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="card-content">
                                <p class="right-align"><strong>{{ recipe.calories }}</strong>kcal</p>
                                <hr class="headings-underline center">
                                <p class="content-dark left-align card-content-description">{{ recipe.description }}</p>
                                <ul class="list-inline">
                                    <li>
                                        <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                                            <i class="fas fa-eye card-icons amber-text text-darken-3 tooltipped" data-position="left" data-tooltip="View Recipe"></i>
                                        </a>
                                    </li>
                                    <!--Only Show if user is in session-->
                                    {% if session.user %}
                                        {% if session.user|lower == recipe.created_by|lower %}
                                        <!--Else statement shows when user in session and recipe not created_by user in session-->
                                        {% else %}
                                            <li>
                                                <form method="POST" action="{{ url_for('save_recipe', recipe_id=recipe._id) }}">
                                                    <button class="save-button" aria-label="Save">
                                                        <i class="fas fa-plus-circle card-icons blue-grey-text text-darken-3 tooltipped" data-position="right" data-tooltip="Save Recipe"></i>
                                                    </button>
                                                </form>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <a href="{{ url_for('categories', category='Lunch') }}" class="btn dark-background content-color recipe-buttons right">More Lunch</a>
        </div>
        <br>

        <!--Dinner Section-->
        <div class="row">
            <div class="col s12">
                <h4 class="headings-dark capitalize">Dinner</h4>
                <hr class="headings-underline left">
                <br>
                <p class="content-dark">From quick and easy to low and slow, our dinner recipes are designed to leave you satified after a long day.</p>
            </div>
        </div>
        <div class="row">
            <!--Loop through dinner recipes-->
            {% for recipe in dinner_recipes %}
                <!--Show 2 results-->
                {% if loop.index <= 2 %}
                    <div class="col s12 m6 xl4 center" data-aos="zoom-in" data-aos-duration="1500">
                        <div class="card hoverable recipe-card">
                            <div class="card-image">
                                <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                                    <img src="{{recipe.recipe_image}}" onerror="this.src='/static/images/home-page-image1.jpg'" alt="{{recipe.title}}">
                                    <div class="card-overlay">
                                        <h5 class="headings-light capitalize">{{ recipe.title }}</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="card-content">
                                <p class="right-align"><strong>{{ recipe.calories }}</strong>kcal</p>
                                <hr class="headings-underline center">
                                <p class="content-dark left-align card-content-description">{{ recipe.description }}</p>
                                <ul class="list-inline">
                                    <li>
                                        <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                                            <i class="fas fa-eye card-icons amber-text text-darken-3 tooltipped" data-position="left" data-tooltip="View Recipe"></i>
                                        </a>
                                    </li>
                                    <!--Only Show if user is in session-->
                                    {% if session.user %}
                                        {% if session.user|lower == recipe.created_by|lower %}
                                        <!--Else statement shows when user in session and recipe not created_by user in session-->
                                        {% else %}
                                            <li>
                                                <form method="POST" action="{{ url_for('save_recipe', recipe_id=recipe._id) }}">
                                                    <button class="save-button" aria-label="Save">
                                                        <i class="fas fa-plus-circle card-icons blue-grey-text text-darken-3 tooltipped" data-position="right" data-tooltip="Save Recipe"></i>
                                                    </button>
                                                </form>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <!--3rd result shown on screen sizes above 1200px-->
                {% if loop.index == 3 %}
                    <div class="col s12 m6 xl4 center hide-div" data-aos="zoom-in" data-aos-duration="1500">
                        <div class="card hoverable recipe-card">
                            <div class="card-image">
                                <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                                    <img src="{{recipe.recipe_image}}" onerror="this.src='/static/images/home-page-image1.jpg'" alt="{{recipe.title}}">
                                    <div class="card-overlay">
                                        <h5 class="headings-light capitalize">{{ recipe.title }}</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="card-content">
                                <p class="right-align"><strong>{{ recipe.calories }}</strong>kcal</p>
                                <hr class="headings-underline center">
                                <p class="content-dark left-align card-content-description">{{ recipe.description }}</p>
                                <ul class="list-inline">
                                    <li>
                                        <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                                            <i class="fas fa-eye card-icons amber-text text-darken-3 tooltipped" data-position="left" data-tooltip="View Recipe"></i>
                                        </a>
                                    </li>
                                    <!--Only Show if user is in session-->
                                    {% if session.user %}
                                        {% if session.user|lower == recipe.created_by|lower %}
                                        <!--Else statement shows when user in session and recipe not created_by user in session-->
                                        {% else %}
                                            <li>
                                                <form method="POST" action="{{ url_for('save_recipe', recipe_id=recipe._id) }}">
                                                    <button class="save-button" aria-label="Save">
                                                        <i class="fas fa-plus-circle card-icons blue-grey-text text-darken-3 tooltipped" data-position="right" data-tooltip="Save Recipe"></i>
                                                    </button>
                                                </form>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <a href="{{ url_for('categories', category='Dinner') }}" class="btn dark-background content-color recipe-buttons right">More Dinner</a>
        </div>
    </div>

{% endblock %}