{% extends "base.html" %}
{% block content %}

    <div class="reg-background-image">
        <div class="row">
            <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
                <div class="card-panel">
                    <!--Firstname-->
                    <div class="row">
                        <h3 class="center headings-light">Register</h3>
                        <div class="input-field col s10 offset-s1">
                            <i class="fas fa-user prefix icons"></i>
                            <input id="firstname" name="firstname" type="text" pattern="^[a-zA-Z]{2,20}$" minlength="2" maxlength="20" class="validate content-light tooltipped" data-position="bottom" data-tooltip="a-z, A-Z, between 2-20 characters" required>
                            <label class="content-light" for="firstname">First Name</label>
                        </div>
                    </div>
                    <!--Username-->
                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            <i class="fas fa-user-plus prefix icons"></i>
                            <input id="username" name="username" type="text" pattern="^[a-zA-Z0-9]{5,20}$" minlength="5" maxlength="20" class="validate content-light tooltipped" data-position="bottom" data-tooltip="a-z, A-Z, 0-9 between 5-20 characters" required>
                            <label class="content-light" for="username">Username</label>
                        </div>
                    </div>
                    <!--Password-->
                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            <i class="fas fa-user-lock prefix icons"></i>
                            <input id="password" name="password" type="password" pattern="^[a-zA-Z0-9]{5,20}$" minlength="5" maxlength="20" class="validate content-light tooltipped" data-position="bottom" data-tooltip="a-z, A-Z, 0-9 between 5-20 characters" required>
                            <label class="content-light" for="password">Password</label>
                        </div>
                    </div>
                    <!--Register Button-->
                    <div class="row">
                        <button type="submit" class="col s6 offset-s3 m4 offset-m4 btn-large yellow lighten-1 content-dark">
                            Register <i class="fas fa-sign-in-alt"></i>
                        </button>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p class="center-align content-light">
                                Already Registered? <a href="{{ url_for('login') }}" class="content-color">Log In</a>
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>

{% endblock %}