{% extends "base.html" %}
{% block content %}

    <!--Title -->
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h4 class="headings-dark capitalize">Recipes</h4>
                <hr class="headings-underline left">
            </div>
        </div>
        <!--Search Bar -->
        <div class="row">
            <form action="{{ url_for('search') }}" method="POST" class="col s12 m8 offset-m2 card hoverable">
                <div class="row valign-wrapper center-align">
                    <div class="input-field col s12">
                        <i class="fas fa-search prefix icons"></i>
                        <input type="text" name="query" minlength="2" class="validate" id="query" required>
                        <label for="query" class="content-dark search-label">Search Recipes</label>
                    </div>
                </div>
                <div class="col s12 center">
                    <a href="{{ url_for('get_recipes') }}" class="btn deep-orange darken-4 content-light search-buttons">Reset</a>
                    <button type="submit" class="btn yellow lighten-1 content-dark search-buttons">Search</button>
                </div>
            </form>
        </div>

        <!--Recipe Cards-->
        {% if recipes|length > 0 %}
            <div class="row">
                {% for recipe in recipes %}
                    <div class="col s12 m6 xl4 center">
                        <div class="card hoverable recipe-card">
                            <div class="card-image">
                                <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                                    <img src="{{recipe.recipe_image}}" onerror="this.src='/static/images/home-page-image1.jpg'" alt="{{recipe.title}}">
                                    <div class="card-overlay">
                                        <h5 class="headings-light capitalize">{{ recipe.title }}</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="card-content">
                                <p class="right-align"><strong>{{ recipe.calories }}</strong>kcal</p>
                                <hr class="headings-underline center">
                                <p class="content-dark left-align card-content-description">{{ recipe.description }}</p>
                                <ul class="list-inline">
                                    <li>
                                        <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                                            <i class="fas fa-eye card-icons amber-text text-darken-3 tooltipped" data-position="left" data-tooltip="View Recipe"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h4 class="headings-dark capitalize center">No results found</h4>
        {% endif %}
    </div>
    
{% endblock %}