{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col s12">
                <h4 class="headings-dark capitalize">{{ recipe.title }}</h4>
                <hr class="headings-underline left">
            </div>
        </div>
        <!--View Recipe Card-->
        <div class="row card hoverable">
            <div class="col s12 m6 l7">
                <img class="recipe-image" src="{{recipe.recipe_image}}" alt="{{recipe.title}}">
            </div>
            <div class="col s12 m6 l5">
                <h5 class="headings-dark center">Recipe Information</h5>
                <hr class="headings-underline center">
                <table class="content-dark centered">
                    <tr>
                        <td><i class="fas fa-users recipe-icons"></i></td>
                        <td>Servings: </td>
                        <td>{{ recipe.servings }}</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-stopwatch recipe-icons"></i></td>
                        <td>Prep time: </td>
                        <td>{{ recipe.prep_time }} mins</td>
                    </tr>
                    <tr>
                        <td><i class="far fa-hourglass recipe-icons"></i></td>
                        <td>Cook time: </td>
                        <td>{{ recipe.cook_time }} mins</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-fire recipe-icons"></i></td>
                        <td>Calories: </td>
                        <td>{{ recipe.calories }} kcal</td>
                    </tr>
                </table>
                <div class="col s12 center content-color">
                    {% if recipe.vegetarian == "on" %}
                        <div class="highlight-pill">Vegetarian</div>
                    {% endif %}
                    {% if recipe.vegan =="on" %}
                        <div class="highlight-pill">Vegan</div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if session.user %}
            <!--Created By-->
            <div class="row">
                <div class="col s12 right-align">
                    <h6 class="content-dark">Created By: <em>{{ recipe.created_by }}</em></h6>
                    <hr class="headings-underline-dark right">
                </div>
            </div>

            <!--Recipe Description-->
            <div class="row">
                <div class="col s12 color-background recipe-description">
                    <h5 class="content-dark"><em>"{{ recipe.description }}"</em></h5>
                </div>
            </div>
        
            <div class="row instructions">
                <!--Recipe Ingredients-->
                <div class="col s12 m5 dark-background">
                    <h5 class="headings-light center">Recipe Ingredients</h5>
                    <hr class="headings-underline center">
                    <ul class="content-light ingredient-list">
                        {% for ingredient in recipe.ingredients %}
                            <li>{{ ingredient }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <!--Recipe Method-->
                <div class="col s12 m7">
                    <h5 class="headings-dark center">Recipe Method</h5>
                    <hr class="headings-underline center">
                    <ol class="method-list">
                        {% for step in recipe.recipe_method %}
                            <li>{{ step }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        {% else %}
            <div class="row center">
                <div class="col s12 m8 offset-m2">
                    <h4 class="headings-dark">Want to know what you'll need and how to make this recipe?</h4>
                    <br>
                    <h5 class="center-align headings-dark">
                        <a href="{{ url_for('register') }}" class="headings-dark">Register Account <i class="fas fa-sign-in-alt"></i></a>
                    </h5>
                    <p class="content-dark">or</p>
                    <h5 class="center-align content-dark">
                        <a href="{{ url_for('login') }}" class="headings-dark">Log In <i class="fas fa-sign-in-alt"></i></a>
                    </h5>
                    <br>
                </div>
            </div>
        {% endif %}
        <!--Recipe Buttons-->
        <div class="row center recipe-buttons-row">
            <div class="col s12">
                <a href="{{ url_for('get_recipes') }}" class="btn btn-large yellow lighten-1 content-dark recipe-buttons">Recipes</a>
                {% if session.user %}
                    {% if session.user|lower == recipe.created_by|lower %}
                    {% else %}
                        <form method="POST" action="{{ url_for('save_recipe', recipe_id=recipe._id) }}" class="form-recipe-button">
                            <button class="save-button btn btn-large light-green content-dark recipe-buttons">
                                Save
                            </button>
                        </form>
                    {% endif %}
                {% endif %}
                {% if session.user|lower == recipe.created_by|lower or session.user|lower == "admin" %}
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn btn-large blue-grey darken-3 content-light recipe-buttons">Edit</a>
                    <a class="btn btn-large deep-orange darken-4 content-light recipe-buttons modal-trigger" href="#delete-modal">Delete</a>
                {% endif %}
            </div>
        </div>
    </div>

    <!--Delete Recipe Modal-->
    <div id="delete-modal" class="modal dark-background">
        <div class="modal-content center-align headings-light">
            <h4>Are you sure you wish to delete this recipe?</h4>
        </div>
        <div class="modal-footer dark-background">
            <div class="row">
                <div class="col s6 right-align">
                    <a class="btn yellow lighten-1 content-dark modal-close">Close</a>
                </div>
                <div class="col s6 left-align">
                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn red darken-4 content-light">Delete</a>
                </div>
            </div>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>

{% endblock %}